


<center>
<h1 style="color:#A8444D">당신의 배우자는?</h1>

<div style="background-color:#F58594; padding:10px ">


<img src=<%="assets\\#{@your_image}.jpg"%> width="300" height="300" alt="이상"  />
<div style="float:right; font-size: 25px; font-weight: bold; color: white; padding-right: 25%">
<p><%= "생김새는 #{@your_appearence}을 닮았으며 " %></p>
<p><%= "현재 나이는 #{@your_age}살이며 " %></p>
<p><%= "#{@your_place}에서 " %></p>
<p><%= "#{@your_job}로 일하고 있습니다" %></p>
</div>

</div>
</center>